$def with (message, status, logged, user)
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevAO - RTP Add Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/bootstrap.css">
  <link rel='shortcut icon' href='static/favicon.ico'>
</head>
<body>
  <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                    <a class="navbar-brand" href="/"><span style="font-size: 75%">research</span>DevAO</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-collapse">
                        <li class="active"><a href="/add">Add Data</a></li>
                        <li><a href="/receive">Receive Data</a></li>
                        <li><a href="/thesis">Thesis</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        $if logged == 'True':
                            <li><a href="#">Welcome, <strong>$user</strong></a></li>
                            <li><a href="/logout">Log Out</a></li>
                        $if logged == 'False':
                            <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
  <div class="container">
     <h3>Add new URL</h3>
      <p>Enter a valid URL.  The page will be scraped and stored in the MongoDB as a presentation data</p> 
     <form name="addURL" method="post" action="add" onsubmit=" return validateForm()" >
    <p><input style="width: 40%" type="text" name="url" /> <input type="submit" value="Add" /></p>
    <br>
    $if status == 'success':
        <div class="alert alert-success" role="alert">
          <a href="#" class="alert-link">$message</a>
        </div>
    $if status == '':
        <div></div>
    $if status == 'error':
        <div class="alert alert-danger" role="alert">
          <a href="#" class="alert-link">$message</a>
        </div>

  </div>
</body>
</html>
<script>
function validateForm()
{
  var expression = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
  var regex = new RegExp(expression);
  var url = document.forms["addURL"]["url"].value;
    if (url.match(regex) )
   {
     return true;
   } 
   else {
     alert("This is not a valid URL");
     return false;
   }
 }
 </script>