$def with (title, document, app)
<!DOCTYPE html>
<html lang="en">
<head>
  <title>DevAO - Custom Document</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
  <link rel='shortcut icon' href='static/favicon.ico'>
</head>
<body>
<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><span style="font-size: 75%">research</span>DevAO</a>
                </div>
            </div>
 </nav>
<div class="container">
	<h1>$title</h1>
	 $:document
	<br>
</div>
</body>
</body>
</html>
