$def with (logged, user)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>DevAO - Research Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                    <a class="active navbar-brand" href="#"><span style="font-size: 75%">research</span>DevAO</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-collapse">
                        <li><a href="/add">Add Data</a></li>
                        <li><a href="/receive">Receive Data</a></li>
                        <li><a href="/thesis">Thesis</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        $if logged == 'True':
                            <li><a href="#">Welcome, <strong>$user</strong></a></li>
                            <li><a href="/logout">Log Out</a></li>
                        $if logged == 'False':
                            <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
      			<h1>RTP<small> - Real Time Presentation API</small></h1>
      			<h4>A proof of concept for the research being done at The Ohio State University by Agustin Ortiz advised by Rajiv Ramnanth</h4>
      			<p>The purpose of the API is to allow a user to pull up the most relevant piece of document data based on surrounding conversation data happening at a given moment.  This API gives users an opportunity to store web pages as document data, and retrieve those web pages based on some text interpreted as a conversation.  The relevance of the document retrieval methods are being researched, validated, and tested by Agustin Ortiz using this tool.</p>
                <p>This document is last updated at <span id="last"></span></p>
                <span><i class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                <h4>This API documentation is still being reviewed.  The documentation will become available soon.</h1></span>
    		</div>
        </div>
    </body>
</html>
<script>
// self executing function here
(function() {
    var x = new Date(document.lastModified);
    document.getElementById("last").innerHTML = x;
})();
</script>