$def with (logged, user)
<html lang="en">
    <head>
        <title>DevAO - Research Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/bootstrap.css" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
    </head>
    <body>
       <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                    <a class="navbar-brand" href="/"><span style="font-size: 75%">research</span>DevAO</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-collapse">
                        <li><a href="/add">Add Data</a></li>
                        <li><a href="/receive">Receive Data</a></li>
                        <li class="active"><a href="/thesis">Thesis</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        $if logged == 'True':
                            <li><a href="#">Welcome, <strong>$user</strong></a></li>
                            <li><a href="/logout">Log Out</a></li>
                        $if logged == 'False':
                            <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="page-header">
                <h1>Thesis<small> Running document and thought process for all thesis work.</small></h1>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Problem statement</div>
                <div class="panel-body">
                    <blockquote>Is there a process to keep the natural flow of discussion continuous while also providing useful & relevant data based on the discussion context?</blockquote>
                    <p>Live conversations are fluid and natural.  A conversation makes agreements, takes unpredictable turns, and could even come to arguments.  Assume a user engaged in a live conversation often needs information to validate a point or argument.  Traditionally, a user is forced to pause this conversation and go retrieve information which is useful and relevant to the context of the conversation.  What if we could minimize this problem to where no pause occurs in the conversation, but instead continues this fluid motion?</p>
                    <p>For example, a presenter of information tends to promote discussion throughout a presentation.  In particular, the discussion surrounding the topic can lead to problems when the talking points deviate from the intended ordered design of the presentation.  The audience, could potentially focus their attention on irrelevant presentation data, or even be forced to remove their attention and query the information themselves. </p>
                    <p>A process or software tool in which injects reliable information based on the surrounding discussion or topic has a possibility of enhancing a learning process and continuing the ongoing discussion.  In order to solve this problem, its been broken down into three question segments:</p>
                    <p>First, <strong>can we store unstructured document data in an organized manner so it can later be retrieved?</strong>  Information comes in many forms like web pages, slides, pdf, word documents.  Storing all of these documents into a single database instance for searching will require an organized relational design.  The extraction is another key focus point in this problem.  Each document type will require a proprietary extraction method to properly store it’s containing information. </p>
                    <p>Next, <strong>can we query these stored unstructured documents based on a surrounding discussion or topic?  In other words, can we use a text based discussion which is currently ongoing to query a database of possible relevant document data?</strong> </p>
                    <p>Lastly, <strong>can we inject these unstructured documents into a platform in which the end user can view and use?</strong>  In theory, this would allow the user to view the most relevant and useful information based on the surrounding discussion at the given moment.</p>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Related Work</div>
                <div class="panel-body">
                    <p>Neelam Soundarajan, Swaroop Joshi and Rajiv Ramnath. &ldquo;<a href="http://ieeexplore.ieee.org.proxy.lib.ohio-state.edu/xpl/articleDetails.jsp?arnumber=7202981&amp;newsearch=true&amp;queryText=Collaborative%20and%20Cooperative-Learning%20in%20Software%20Engineering%20Courses">Collaborative and Cooperative-Learning in Software Engineering Courses.</a>&rdquo; <em>2015 Volume 2</em>.</p>
                    <p>Jelinek, Frederick. <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=1457611&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F5%2F31355%2F01457611.pdf%3Farnumber%3D1457611"><em>The Development of an Experimental Discrete Dictation Recognizer.</em></a> Proceedings of the IEEE, Vol. 73(11) (November 1985): pp. 1616-1624.</p>
                    <p>Kastrati, Fisnik, Xiang Li, Christoph Quix, and Mohammadreza Khelghati. "<a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=1457611&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fiel5%2F5%2F31355%2F01457611.pdf%3Farnumber%3D1457611">Enabling Structured Queries over Unstructured Documents</a>." <em>2011 IEEE 12th International Conference on Mobile Data </em><em>Management</em>(2011).</p>
                    <p>Jain, Alpa, AnHai Doan, and Luis Gravano. "<a href="http://www.cs.columbia.edu/~alpa/Papers/icde07.pdf">SQL and Relational Databases</a>."<em>Automated Data Collection with R A Practical Guide to Web Scraping and Text Mining</em>(2014): 164-95</p>                
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">Repetitive Searching over Active Conversation</div>
                <div class="panel-body">
                    <p style="color:red;">*This Validation piece is based on a active presentation.  After the pivot to document injection, this needs revised and modified.</p>
                        <p>The validation will hold true if the results produced by the active queries, based on a timing parameter, are relevant to the data collected a time <em>t</em>. If the time is broken down, it can be shown at which moments in time can be validated with the results:</p>
                        <p>Let <em>t</em> be real time seconds, <em>d</em> be keywords/phrases in which to use as a parameter for queries, <em>r </em>be results from query, and <em>P</em> be presentation data from database.</p>
                        <p>The query is executed on the data model at <em>t<sub>1</sub></em> using <em>d<sub>0</sub> </em>as it&rsquo;s parameter condition. <em>d<sub>0 </sub></em>is created using the mining method on the text data gathered at the times <em>t<sub>0 &rarr;</sub> t<sub>1</sub></em>. The results of <em>r<sub>1</sub> </em>will be produced at the end of the <em>t<sub>0 &rarr;</sub> t<sub>1 </sub></em>at time <em>t<sub>1</sub></em>. Then <em>r<sub>1 </sub></em>must be validated.</p>
                        <p>The validation of <em>r<sub>1 </sub></em>will start by evaluating the count of the query. This process will finish at time <em>t<sub>1L</sub></em>.<em> </em>The tuple count will determine which path to route the system.</p>
                        <p>If count(<em>r<sub>1</sub></em>) = 0, meaning <em>d<sub>0</sub></em> was insufficient in carrying relevant results in comparison to the provided P, the system will simply do nothing. By trusting our mining method and assuming the conversation text is accurate, the system will avoid displaying potentially irrelevant presentation data. The system will move on, and use <em>d<sub>1</sub> </em>which is a result from times <em>t<sub>1 &rarr;</sub> t<sub>2 </sub></em>and execute a new query.</p>
                        <p>If count(<em>r<sub>1</sub></em>) = 1, the result is used as the selection.</p>
                        <p>If count(<em>r<sub>1</sub></em>) &gt; 1, there will need to be a selection process. This could involve setting priority on some fields and using an order by to grab the top result. The selection process can be interchangeable as long as we narrow to a single result.</p>
                        <p>Once results are validated and a selection is made, <em>P<sub>1</sub></em> is displayed. There will be a delay in time before <em>P<sub>1</sub></em> is displayed due to the validation of <em>r<sub>1.</sub> </em>This time is marked at <em>t<sub>1L</sub> </em>which is significant to note because it falls on the <em>t<sub>1&rarr;</sub> t<sub>2 </sub></em>timeline. This will cause each time segment to have its own thread. A new thread will be created at the start of each <em>t </em>interval.</p>
                        <p>After repeated iterations of the above process, we will need to use the count(<em>r</em>) to validate the results. We can use the basic methods precision and recall to quantify how the query selection is performing. Recall gives a useable result because we can use the query tuples returned over the total pieces of presentation data available.</p>
                        <p>Recall = (count(<em>r</em>) / total <em>d</em>))</p>
                        <p>*Precision (selected r) / count(<em>r</em>))</p>
                        <p>*Selection will always be equal 1/count(<em>r</em>)</p>
                        <p>How can precision be relied on if the relevant records is always one?</p>
                </div>
            </div>
        </div>
    </body>
</html>